REACT_APP_END_POINT_AUTHENTICATION_URL=${BASE_URL}/users/auth
REACT_APP_END_POINT_ANNOUNCES_URL=${BASE_URL}/announces
REACT_APP_END_POINT_AUTHORITIES_URL=${BASE_URL}/authorities
REACT_APP_END_POINT_BRANCHS_URL=${BASE_URL}/branchs
REACT_APP_END_POINT_INCIDENTS_URL=${BASE_URL}/incidents
REACT_APP_END_POINT_REPORTS_URL=${BASE_URL}/reports
REACT_APP_END_POINT_WILAYAS_URL=${BASE_URL}/wilayas
REACT_APP_END_POINT_DAIRAS_URL=${BASE_URL}/dairas
REACT_APP_END_POINT_COMMUNES_URL=${BASE_URL}/communes
REACT_APP_END_POINT_IMAGES_URL=${BASE_URL}/images
REACT_APP_END_POINT_USERS_AUTHORITIE_URL=${BASE_URL}/users/authoritie
REACT_APP_END_POINT_USERS_WILAYA_URL=${BASE_URL}/users/wilaya
REACT_APP_SUPERSET_END_POINT = http://41.111.148.170:9085/superset/dashboard